header.siteHeader
    .container
        .contactBar.d-flex.justify-content-end.align-content-around
            .phone.d-flex.align-items-center.mx-3
                i.fa.fa-lg.fa-phone.mx-1 
                span +261 (0) 34 29 207 26
            .email.d-flex.align-items-center.mx-3
                i.fa.fa-lg.fa-envelope.mx-1
                span contact@akatris.com
            .facebook
                i.fa.fa-lg.fa-facebook-official.mx-1
            .twitter
                i.fa.fa-lg.fa-twitter.mx-1
            .google-plus
                i.fa.fa-lg.fa-google-plus.mx-1

