header.siteHeader
    .container
        .contactBar.py-2.d-flex.justify-content-end.align-content-around
            .phone.d-flex.mr-5
                i.fa.fa-2x.fa-phone
                span.mx-2  +261 (0) 34 29 207 26
            .email.d-flex.mr-5
                i.fa.fa-2x.fa-envelope
                span.mx-2 contact@akatris.com
            .social-icons
                a(href="#").px-2
                    i.fa.fa-2x.fa-facebook-official
                a(href="#").px-2
                    i.fa.fa-2x.fa-twitter
                a(href="#").px-2
                    i.fa.fa-2x.fa-google-plus
                