header.siteHeader
    .container
        .contactBar.py-2.d-flex.justify-content-end.align-content-around
            .phone.d-flex
                i.fa.fa-2x.fa-phone 
                span +261 (0) 34 29 207 26
            .email.d-flex
                i.fa.fa-2x.fa-envelope.mr-2.ml-5
                span contact@akatris.com
